div {
    position: relative;
    width: 40px;
}


img {
    width: 40px;
}


span {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: rgb(191, 128, 250);
    font-size: 12px;
    padding: 2px 5px;
    border-radius: 50%;
}